/* Estilos Base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el Encabezado (Header) */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Estilos para el Nombre (Jack) y Redes Sociales */
header h1 {
    font-size: 5vw; /* Ajuste dinámico basado en el ancho de la pantalla */
    font-weight: bold;
    margin: 0;
}

header .social-media {
    font-size: 1.5vw; /* Ajuste dinámico basado en el ancho de la pantalla */
}

/* Diseño de Columnas */
.column-container {
    display: flex;
}

.column-container-left,
.column-container-right {
    width: 50%;
    padding: 10px;
}

.column-container-left {
    background-color: darkblue;
    color: white;
}

.column-container-right {
    border-left: 2px solid gray;
}

.gray-highlight {
    color: gray;
    font-weight: bold;
}

footer {
    text-align: right;
    font-style: italic;
    font-size: 0.7rem; /* Tamaño reducido y en rem para mejor escalabilidad */
    color: yellow;
    padding: 10px;
}

/* Media Queries para dispositivos más pequeños */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header h1 {
        font-size: 10vw; /* Tamaño de fuente más grande para visibilidad en móviles */
    }

    header .social-media {
        font-size: 3vw; /* Tamaño de fuente ajustado para móviles */
    }

    .column-container {
        flex-direction: column;
    }

    .column-container-left,
    .column-container-right {
        width: 100%; /* Las columnas ocupan todo el ancho en dispositivos móviles */
    }

    .column-container-right {
        border-left: none;
        border-top: 2px solid gray; /* Ajuste de la línea divisoria para móviles */
    }
}